In [7]:
import numpy as np
import pandas as pd

In [4]:
target = np.load('answer.npy')

In [5]:
target.shape

(78273,)

In [8]:
response = pd.DataFrame({"Response":target})
response.head()

   Response
0         0
1         0
2         0
3         0
4         0

In [9]:
response.to_csv("Test_Response.csv",index=None)