## Blai Ras Jimenez
## Big Data: Assignment 1: Pymongo Queries

In [13]:
#Importing necessary packages
import pymongo
import datetime
import pandas as pd
from IPython.display import display, HTML

In [2]:
#Once I started my MongoDB Client locally on Docker, I can connect to it using a Python connector: Pymongo
#Therefore, I just type my local adress (localhost) and the exposed port: 27017 in my case. 

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
# Let's look what databases I have
myclient.list_database_names()

['admin', 'config', 'local', 'test', 'ub']

In [31]:
#Get the database I'm interested in
db = myclient["ub"]

In [32]:
# And now look at their collection names
db.list_collection_names()

['restaurants']

In [33]:
#Get the collection I'm interested in
rests = db["restaurants"]

In [34]:
#Check if I have imported succesfully the 'restaurants.json' file in the collection "restaurants" inside the db "ub"
if rests.count_documents({}) == 0:
    print("Please import the json file 'restaurants.json' inside the 'restaurants' collection")

In [35]:
# Function that given a list of curors (queries) returns a list of those queries results converted into Pandas dataframes
def cursorToDF(cursors):
    return [pd.DataFrame(list(cursor)) for cursor in cursors]

## Queries Part 1

In [30]:
for i,df in enumerate(cursorToDF([rests.find({},{"restaurant_id":1,"name":1,"borough":1,"cuisine":1}),
                      rests.find({},{"restaurant_id":1,"name":1,"borough":1,"cuisine" :1,"_id":0}),
                      rests.find({"borough": "Bronx"})])):
    print(i,":\n")
    display(HTML(df.head().to_html()))

0 :

1 :

2 :

## Queries Part 2

In [29]:
for i,df in enumerate(cursorToDF([rests.find({"borough":"Bronx"}).limit(5),
                      rests.find({"borough":"Bronx"}).skip(5).limit(5),
                      rests.find({"grades":{"$elemMatch":{"score":{"$gt":90}}}})])):
    print(i,":\n")
    display(HTML(df.head().to_html()))

0 :

1 :

2 :

## Queries Part 3

In [28]:
for i,df in enumerate(cursorToDF([rests.find({"name":{"$regex":"^Wil"}}),
                      rests.find({"name":{"$regex":"ces$"}}),
                      rests.find({"name":{"$regex":".*Reg.*"}}),
                      rests.find({"borough":"Bronx",
                                 "$or":[{"cuisine":"American"},
                                        {"cuisine":"Chinese"}]})])):
    print(i,":\n")
    display(HTML(df.head().to_html()))

0 :

1 :

2 :

3 :

## My own query

All the "cafeterias" (restaurants with 'cafe' in their name) which have a grade of "A" or "B" and their score is higher than 50. Print only the restaurant ID, name, borough and cuisine.

In [25]:
display(HTML(cursorToDF([rests.find({"name": { "$regex": "Cafe" },
                       "$and":[{"grades.grade":{"$in":["A","B"]}},
                              {"grades.score":{"$gt":50}}]},
                                   {"restaurant_id" :1,"name":1,"borough":1,"cuisine":1,"_id":0})])[0].head().to_html()))