In [3]:
import pandas as pd
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_csv('ml-1m/users.dat', sep='::', header=None, names=unames, engine='python')
rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', header=None, names=rnames,  engine='python')
mnames = ['movie_id', 'title', 'genres']
movies = pd.read_csv('ml-1m/movies.dat', sep='::', header=None, names=mnames,  engine='python')
data = pd.merge(pd.merge(ratings, users), movies)

# Exercises: 

**MovieLens database**

1- Filter  films that have received at least 250 ratings. **Use only these films in the rest of exercices**

In [5]:
df=pd.DataFrame(data)
df.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama

In [6]:
most_rated = df.groupby('title').size().sort_values(ascending=False)
most_rated

title
American Beauty (1999)                                   3428
Star Wars: Episode IV - A New Hope (1977)                2991
Star Wars: Episode V - The Empire Strikes Back (1980)    2990
Star Wars: Episode VI - Return of the Jedi (1983)        2883
Jurassic Park (1993)                                     2672
                                                         ...
Anna (1996)                                                 1
McCullochs, The (1975)                                      1
Shadows (Cienie) (1988)                                     1
Night Tide (1961)                                           1
Another Man's Poison (1952)                                 1
Length: 3706, dtype: int64

In [7]:
df_filtered = df[df.groupby('title')['title'].transform('size') >= 250]
df_filtered['title'].value_counts()>=250

American Beauty (1999)                                            True
Star Wars: Episode IV - A New Hope (1977)                         True
Star Wars: Episode V - The Empire Strikes Back (1980)             True
Star Wars: Episode VI - Return of the Jedi (1983)                 True
Jurassic Park (1993)                                              True
                                                                  ...
Wes Craven's New Nightmare (1994)                                 True
Teenage Mutant Ninja Turtles II: The Secret of the Ooze (1991)    True
Presidio, The (1988)                                              True
Random Hearts (1999)                                              True
U Turn (1997)                                                     True
Name: title, Length: 1216, dtype: bool

2- Obtain the mean ratings for each movie grouped by gender that have at least 250 ratings.

In [11]:
#grouped by title and gender
gender_grouped=df_filtered[['gender','title','rating']].groupby(['title','gender'],as_index=False).mean()
gender_grouped

                                  title gender    rating
0                    'burbs, The (1989)      F  2.793478
1                    'burbs, The (1989)      M  2.962085
2     10 Things I Hate About You (1999)      F  3.646552
3     10 Things I Hate About You (1999)      M  3.311966
4                 101 Dalmatians (1961)      F  3.791444
...                                 ...    ...       ...
2427       Young Sherlock Holmes (1985)      M  3.363344
2428                 Zero Effect (1998)      F  3.864407
2429                 Zero Effect (1998)      M  3.723140
2430                    eXistenZ (1999)      F  3.098592
2431                    eXistenZ (1999)      M  3.289086

[2432 rows x 3 columns]

3- Show films more valued by women.

In [60]:
# Highest rating between male and female for each movie title
highest_rating=gender_grouped[['title','rating']].groupby('title').max()
highest_rating.head()

                                     rating
title
'burbs, The (1989)                 2.962085
10 Things I Hate About You (1999)  3.646552
101 Dalmatians (1961)              3.791444
101 Dalmatians (1996)              3.240000
12 Angry Men (1957)                4.328421

4- Now we wonder which movies are rated more differently between men and women. Which films have more different rating and are more highly valued by women?

In [63]:
#greatest difference between values and more highly rated by women

     rating
0       NaN
1  0.168607
2       NaN
3 -0.334586
4       NaN

5- And which films have more different rating and are more highly valued by men?

In [ ]:
#greatest difference between values and more highly rated by men

6- What are the films that have generated the most discordant ratings, regardless of gender?

In [71]:
#overall differences, need to set index by title
rating_diff=gender_grouped.groupby('title').diff()
rating_diff.sort_values(by='rating',ascending=False,inplace=True)
rating_diff[:10]

        rating
951   0.726351
1205  0.676359
663   0.638608
1311  0.619682
387   0.613787
725   0.611985
1047  0.607167
1827  0.581801
389   0.573602
835   0.544704

7- What is the highest rated movie in average?

In [72]:
#highest rated movie, sort
ratings_grouped=df_filtered[['title','rating']].groupby(['title'],as_index=False).mean()
ratings_grouped.sort_values(by='rating',ascending=False,inplace=True)
ratings_grouped.iloc[0]

title     Seven Samurai (The Magnificent Seven) (Shichin...
rating                                              4.56051
Name: 959, dtype: object

*** From here use all the ratings ***

8- Calculate the average rating of each user.

In [79]:
user_avgs=df_filtered[['user_id','rating']].groupby('user_id').mean()
user_avgs.head()

           rating
user_id
1        4.180000
2        3.716667
3        3.937500
4        4.190476
5        3.177305

9- Define a function called  <b>top_movies</b> that given a df, an user an a number n it returns what movies have the top n rank for this user.

def top_movies(data,user,n)

In [80]:
def top_movies(data_,usr,n_rows = 10):
    found_ratings=data_.loc[df['user_id']==usr]
    f_sort=found_ratings.sort_values(by='rating',ascending=False,inplace=True)
    return f_sort[:n+1]
def ex9():
    return top_movies(data,1,30)

** Data from CSV**

10- Read data from csv file: `ma-ba.csv`. Count the number of times `Barça` wins `Madrid` and compute the stadistics of % win, % lose and % draw.

In [83]:
data=pd.read_csv('ma-ba.csv')
#results= pd.DataFrame(data)
#results.head()
#results.describe()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb0 in position 3: invalid start byte

In [ ]:
n = 11
for i in range(1,n):
    try:
        df = globals()["ex"+str(i)]()
        df.to_csv(str(i)+".csv",header=False)
    except Exception as e: 
        print(i,repr(e))
        open(str(i)+".csv","a").close()