# Decathlon 2

27 rows 13 columns

In [33]:
# install.packages('factoextra')
# install.packages('HSAUR')

In [2]:
library(factoextra)
library(HSAUR)

# Decathlon ?

27 x 13

In [4]:
data("decathlon2", package = "factoextra")

In [5]:
decathlon2[1:3,]

        X100m Long.jump Shot.put High.jump X400m X110m.hurdle Discus Pole.vault
SEBRLE  11.04 7.58      14.83    2.07      49.81 14.69        43.75  5.02
CLAY    10.76 7.40      14.26    1.86      49.37 14.05        50.72  4.92
BERNARD 11.02 7.23      14.25    1.92      48.93 14.99        40.87  5.32
        Javeline X1500m Rank Points Competition
SEBRLE  63.19    291.7  1    8217   Decastar
CLAY    60.15    301.5  2    8122   Decastar
BERNARD 62.77    280.1  4    8067   Decastar

# 2008 Woman Heptathlon 

33 x 10

In [35]:
Hepta2008 <- read.csv("Data/ProcessedDatasets/2008WomanHeptathlon.csv")

In [36]:
Hepta2008[1:3,]

  Athlete            Country       Overall.points X100.m.H HJ   SP   X200.m
1 Nataliya Dobrynska Ukraine       6733           1059      978 1015  944
2 Hyleas Fountain    United States 6619           1158     1093  751 1058
3 Kelly Sotherton    Great Britain 6517           1097     1016  785 1040
  LJ   JT  X800.m
1 1049 833  855
2  969 704  886
3  953 622 1004

# Olympic Heptathlon Seoul 1988

25 x 8

In [31]:
data("heptathlon", package = "HSAUR")

In [37]:
heptathlon[1:3,]

                    hurdles highjump shot  run200m longjump javelin run800m
Joyner-Kersee (USA) 12.69   1.86     15.80 22.56   7.27     45.66   128.51
John (GDR)          12.85   1.80     16.23 23.65   6.71     42.56   126.12
Behmer (GDR)        13.20   1.83     14.20 23.10   6.68     44.54   124.20
                    score
Joyner-Kersee (USA) 7291
John (GDR)          6897
Behmer (GDR)        6858

# Decathlon Austria 1982

In [1]:
decaAustria <- read.csv("Data/ProcessedDatasets/Decathlon_Austria82.csv")[2:10]

In [2]:
dim(decaAustria)

[1] 20  9

In [74]:
decaAustria[1:3,]

  X100m Salt.Longitud Llençament.Pes Salt.Alçada X400m X110.Tanques
1 935   1010          807            925         955   926
2 817   1004          844            950         905   901
3 768    893          759            900         825   859
  Llençament.Disc Salt.Perxa Javelina
1 769             1028       767
2 781              957       738
3 868              981       732

# UK deacathlon best performances of all times

In [3]:
decaUK <- readRDS("Data/ProcessedDatasets/UK_all_time_decathlon.RDS")
dim(decaUK)
head(decaUK)

[1] 317  12

     100   LJ   SP7.26K HJ   400   110H  DT2K  PV   JT800 1500   Year Athlete
PB   11.02 7.14 15.19   2.04 50.65 15.15 53.94 4.60 58.14 278.46 PB   105383
2015 11.19 7.02 15.19   1.99 50.65 15.15 53.94 4.36 55.04 289.21 2015 105383
2014 11.03 7.14 15.06   2.04 51.24 15.33 51.47 4.60 58.14 294.06 2014 105383
2013 11.14 6.99 14.40   2.04 51.22 15.81 49.65 4.20 53.86 278.46 2013 105383
2012 11.02 7.05 14.31   1.95 50.70 15.63 44.60 4.12 53.61 284.49 2012 105383
2011 11.70 7.04 10.57   1.95 52.30 17.00 36.90 2.45 55.51 285.00 2011 105383

# UK hepathlon best performances of all times

In [4]:
heptaUK <- readRDS("Data/ProcessedDatasets/UK_all_time_heptathlon.RDS")
dim(heptaUK)
head(heptaUK)

[1] 565   9

     100HW HJ   SP4K  200   LJ   JT600 800    Year Athlete
PB   14.80 1.66 11.33 25.33 6.04 34.08 131.64 PB   111969
2016 14.80 1.62 11.32 25.46 6.04 30.99 135.55 2016 111969
2015 15.10 1.61 11.33 25.61 5.53 30.84 137.75 2015 111969
PB1  14.13 1.92 12.27 26.00 6.13 33.44 129.00 PB   11728
2018 16.10 1.60 11.10 27.90 5.53 28.12 168.40 2018 11728
2017 15.50 1.63 10.41 27.92 5.03 28.03 162.76 2017 11728